<!--<div class="container">-->
<!--  <div class="card-body">-->
<!--    <br>-->
<!--    <div class="row">-->
<!--      <button type="button" class="btn btn-info" (click)="creerType() ">Créer un type</button>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div class="card-deck">-->
<!--      <div class="card-body">-->
<!--        <table class="table table-responsive">-->
<!--          <table class="table table-hover table-condensed table-striped">-->
<!--            <thead class="Type">-->
<!--            <tr>-->
<!--              <th>Nom</th>-->
<!--              <th>Actions</th>-->
<!--              <th></th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let type of types">-->
<!--              <td>{{type.name}}</td>-->
<!--              <td>-->
<!--                <button mat-fab color="primary" aria-label="Edit" *ngIf="type" datatype="type" (click)="modifierType(type.id)">-->
<!--                  <mat-icon>bookmark</mat-icon>-->
<!--                </button>-->
<!--              </td>-->
<!--              <td>-->
<!--                <button mat-fab color="warn" aria-label="Delete" *ngIf="type" datatype="type" (click)="supprimerType(type.id)">-->
<!--                  <mat-icon>delete</mat-icon>-->
<!--                </button>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--    <br>-->
<!--  </div>-->
<!--</div>-->


<div class="container">
  <button mat-raised-button (click)="creerType()">Créer un type de produit</button>
  <table mat-table [dataSource]="this.dataSource" matSort class="example-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let type">{{type.name}}</td>
    </ng-container>
    <ng-container matColumnDef="modifier">
      <th mat-header-cell *matHeaderCellDef>Modifier</th>
      <td mat-cell *matCellDef="let type">
        <button mat-fab color="primary" aria-label="Build" [value]="" (click)="modifierType(type)">
          <mat-icon>build</mat-icon>
        </button></td>
    </ng-container>
    <ng-container matColumnDef="supprimer">
      <th mat-header-cell *matHeaderCellDef>Supprimer</th>
      <td mat-cell *matCellDef="let type">
        <button mat-fab color="warn" aria-label="Build" [value]="type" (click)="supprimerType(type.id)">
          <mat-icon>delete</mat-icon>
        </button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


