<div class="footer">
  <div class="wrapper1">
    <ul class="uneDoseDeVert col-md-3"> <p>Une dose de vert</p>
      <li> <a href="../accueil#UneDoseDeVert">L'épicerie végétale</a></li>
      <li><a href="../accueil#NosEngagements">Nos engagements</a></li>
      <li><a href="../accueil#LivraisonTarifs">Livraisons et tarifs</a></li>
      <li><a href="../accueil#Equipe">L'équipe</a></li>
    </ul>

    <ul class="mentionsLegales col-md-3"> <p>Mentions légales</p>
      <li>CGV/CGU</li>
      <li>Politique de confidentialité</li>
      <li>Politique de cookies</li>
      <li>Protection des données</li>
      <li>Mentions légales</li>
    </ul>

    <ul class="serviceClient col-md-3"> <p>Service Client</p>
      <li>Nous contacter</li>
      <li>FAQ</li>
      <li>Paiement sécurisé</li>
      <li>Rappel product</li>
    </ul>
  </div>

  <div class="wrapper2">
    <div class="netSocialIcon">
      <img class="fb-icon" src="../assets/img/ic_fb@3x.png">
    </div>
    <div class="netSocial">
      <p>@unedosedevert</p>
    </div>
  </div>


  <div class="wrapper3">
    <div class="droitReserve">
      <p>Tous droits réservés © Une dose de vert 2021.</p>
    </div>
  </div>
</div>
