<div class="footer">
  <div class="wrapper1 row">
    <ul class="uneDoseDeVert col-md-3"> <p>Une dose de vert</p>
      <li> <a href="../accueil#UneDoseDeVert">L'épicerie végétale</a></li>
      <li><a href="../accueil#NosEngagements">Nos engagements</a></li>
      <li><a href="../accueil#LivraisonTarifs">Livraisons et tarifs</a></li>
      <li><a href="../accueil#Equipe">L'équipe</a></li>
      <li><a href="../accueil">Nos recettes</a></li>
      <li><a href="../accueil">Blog</a></li>
    </ul>

    <ul class="nosProduits col-md-3"> <p>Nos produits</p>
      <li>L'épicerie fine</li>
      <li>Prêt à cuisiner</li>
      <li>Vrac</li>
      <li>Cosmétique</li>
      <li>Maison</li></ul>

    <ul class="mentionsLegales col-md-3"> <p>Mentions légales</p>
      <li>CGV/CGU</li>
      <li>Politique de confidentialité</li>
      <li>Politique de cookies</li>
      <li>Protection des données</li>
      <li>Mentions légales</li>
    </ul>

    <ul class="serviceClient col-md-3"> <p>Service Client</p>
      <li>Nous contacter</li>
      <li>FAQ</li>
      <li>Paiement sécurisé</li>
      <li>Rappel product</li>
    </ul>
  </div>

  <div class="wrapper2">
    <ul class="netSocialIcon">
      <li><img class="fb-icon" src="../assets/img/ic_fb@3x.png"></li>
      <li><img class="ig-icon" src="../assets/img/ic_ig@3x.png"></li>
    </ul>
    <p class="netSocial"> #Unedosedevert @unedosedevert</p>
  </div>


  <div class="wrapper3">
    <p class="droitReserve">Tous droits réservés © Une dose de vert 2021.</p>
  </div>
</div>
