.wrapper{
  width: 100%;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

h1 {
  font-family: WorkSans, serif;
  font-size: 20px;
  text-transform: uppercase;
}

hr {
  width: 100%;
  height: 2px;
  background-color: #c7a38f !important;
  align-self: center;
}

.ConnexionArea {
  width: 25%;
  float: left;
  margin: 4% 0 4% 16.3%;
  text-align: center;
}

.ConnexionArea mat-form-field {
  margin: 2% 0;
  justify-content: center !important;
  align-content: center !important;
  text-align: left;
  border: #f2f2f2 solid 2px;
}

.ConnexionAreaButton {
  margin-top: 4%;
}

.CompteArea {
  width: 25%;
  text-align: center;
  float: right;
  margin: 4% 16.3% 0 0;
}

.CompteArea .mat-expansion-panel {
  box-shadow: none;
}

.CompteArea .mat-expansion-panel-header {
  font-family: WorkSans, serif;
  font-size: 14px;
  color: #707070;
  text-transform: uppercase;
  border-bottom: #f2f2f2 solid 1px;
}

.CompteArea .mat-form-field {
  border: #f2f2f2 solid 2px;
  width: 100%;
  margin: 2% 0 2% 0;
  text-align: left;
}

.mat-radio-button {
  margin: 2% 6%;
  font-size: 14px;
  font-family: WorkSans, serif;
  color: #707070;
}

.CreationButton {
  margin-top: 4%;
}
