<div class="wrapper">

  <div class="ConnexionArea">
    <h1> Connexion </h1>
    <hr>
    <form [formGroup]="forms">
      <mat-form-field class="col-md-12">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error>
          Veuillez renseigner une adresse e-mail valide !
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error>
          Mot de passe invalid !
        </mat-error>
      </mat-form-field>
    </form>
    <mat-dialog-actions>
      <app-bouton  (click)="onSubmit()" label="Me connecter"></app-bouton>
    </mat-dialog-actions>
  </div>

  <div class="CompteArea">
    <h1> Créer un compte </h1>
    <hr>
<!--    <form [formGroup]="formsUser">-->
<!--    <mat-accordion>-->
<!--      <mat-expansion-panel>-->
<!--        <mat-expansion-panel-header>-->
<!--          <mat-panel-title>-->
<!--          Informations personnelles-->
<!--          </mat-panel-title>-->
<!--        </mat-expansion-panel-header>-->

<!--&lt;!&ndash;        <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-label>Nom:</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input matInput placeholder="nom" formControlName="nom">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-error [hidden]="forms.get('nom').valid || !forms.get('nom').touched">&ndash;&gt;-->
<!--&lt;!&ndash;            Le <strong>nom</strong> doit être renseigné.&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-form-field>&ndash;&gt;-->

<!--        <mat-form-field>-->
<!--          <mat-label>Prenom:</mat-label>-->
<!--          <input matInput placeholder="Prenom" formControlName="prenom">-->
<!--          <mat-error [hidden]="forms.get('prenom').valid || !forms.get('prenom').touched">-->
<!--            Le <strong>prénom</strong> doit être renseigné.-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->

<!--      </mat-expansion-panel>-->
<!--    </mat-accordion>-->
<!--    <mat-accordion>-->
<!--      <mat-expansion-panel>-->
<!--        <mat-expansion-panel-header>-->
<!--          <mat-panel-title>-->
<!--            Informations de connexion-->
<!--          </mat-panel-title>-->
<!--        </mat-expansion-panel-header>-->
<!--      </mat-expansion-panel>-->
<!--    </mat-accordion>-->
<!--    </form>-->
  </div>
</div>
