<h2 mat-dialog-title *ngIf="tag == null">Ajouter un tag</h2>
<h2 mat-dialog-title *ngIf="tag">Modifier une tag</h2>
<hr class="textHR">
<p class="separation">Création du tag</p>
<mat-dialog-content>
  <form [formGroup]="forms">
    <mat-form-field class="col-md-12">
      <mat-label>Nom:</mat-label>
      <input matInput placeholder="Nom" formControlName="name">
      <mat-error [hidden]="forms.get('name').valid || !forms.get('name').touched">
        Le <strong>lastName</strong> du tag doit être renseigné.
      </mat-error>
    </mat-form-field>
    <p class="separation">Description du tag</p>
    <mat-form-field class="col-md-12">
      <mat-label>Description:</mat-label>
      <textarea matInput type="text" placeholder="Description" formControlName="description"></textarea>
      <mat-error [hidden]="forms.get('description').valid || !forms.get('description').touched">
        La<strong> description </strong>du tag doit être renseignée.
      </mat-error>
    </mat-form-field>

    <mat-dialog-actions>
      <div class="col-md-6">
        <app-bouton class="modifier col-md" label="Annuler" [mat-dialog-close]></app-bouton>
      </div>
      <div class="col-md-6">
        <app-bouton class="modifier col-md" label="Sauvegarder" [hidden]="forms.invalid" [onClick2]="onSubmit.bind(this)"></app-bouton>
      </div>
    </mat-dialog-actions>

  </form>
</mat-dialog-content>
