.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.selector {
  margin: 1% 0 1% 5.5%;
  width: 20%;
}

.wrapperMyOrder {
  width: 80%;
  margin: 1.5% 7% 2% 2%;
  font-family: WorkSans, serif;
}

.wrapperTable {
  font-family: WorkSans, serif;
  font-size: 16px;
  color: #000000;
  margin-left: 1%;
}

.separation {
  font-size: 12px;
  color: #757575;
  background-color: #f2f2f2;
  padding-left: 1%;
  margin-left: 1%;
  text-transform: uppercase;
}

table {
  width: 100%;
}

.seeOrderButton {
  background-color: #f2f2f2;
  transform: scale(0.8);
  box-shadow: none;
}

.renewButton {
  background-color: burlywood;
  transform: scale(0.8);
  box-shadow: none;
}

.paymentButton {
  background-color: lightgreen;
  transform: scale(0.8);
  box-shadow: none;
}

.mat-cell {
  font-size: 10px;
  font-family: WorkSans, serif;
}

