<div class="wrapperMenu">
  <div class="typeListDiv">
    <ul class="typeList">
      <li class="typeButton" *ngFor="let typ of types" (click)="openMenu(this.typ)"><span>{{typ.name}}</span></li>
    </ul>
  </div>

  <div class="wrapperRightSide">
    <mat-form-field [formGroup]="forms" (ngSubmit)="onSubmit(this.forms)">
      <label>
        <input class="searchBar" matInput placeholder="Rechercher...." formControlName="search" >
      </label>
      <button mat-button matSuffix mat-icon-button (click)="onSubmit(this.forms)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<app-sous-menu [type]="typeToDisplay" *ngIf="typeToDisplay != null"></app-sous-menu>

