.wrapperMenu {
  width: 100%;
  height: 74px;
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  overflow: hidden;
}

.wrapperMenu ul li {
  list-style: none;
  text-transform: uppercase;
  font-family: WorkSans, sans-serif;
  display: inline-block;
  font-size: 14px;
  color: #757575;
  margin: 27px 20px !important;
}

.mat-form-field {
  font-family: WorkSans, sans-serif;
  font-style: italic;
}

.typeList {
  float: left;
  margin-left: 5.9% !important;
  padding-left: 0;
  cursor: pointer;
}

.typeButton:hover {
  color: #c7a38f !important;
}

.socialButton:hover {
  color: #c7a38f !important;
}

.wrapperRightSide {
  float: right;
  cursor: pointer;
}

.mat-form-field {
  margin: 0 130px 20px 0;
  font-size: 14px;
  color: #757575;
}
