<div class="wrapperMenu">
  <div class="typeListDiv">
    <ul class="typeList row">
      <li class="typeButton col-sd" *ngFor="let typ of types" (click)="openMenu(this.typ)"><span>{{typ.name}}</span></li>
    </ul>
  </div>

  <div class="wrapperRightSide">
    <mat-form-field>
      <label>
        <input type="text" class="searchBar" matInput placeholder="Rechercher...." [(ngModel)]="dataQuery" (keypress)="keyPressHandler($event)">
      </label>
      <button mat-button matSuffix mat-icon-button (click)="onSubmit(this.dataQuery)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<app-sous-menu [type]="typeToDisplay" (typeEventEmitter)="closeMenu()" *ngIf="typeToDisplay != null"></app-sous-menu>

