<div class="wrapperMenu">
  <ul class="typeList">
    <li class="typeButton" *ngFor="let typ of types" (click)="openMenu(this.typ)"><span>{{typ.name}}</span></li>
  </ul>

  <div class="wrapperRightSide">
    <ul class="socialList">
      <li class="socialButton"><p>Une dose de vert</p></li>
      <li class="socialButton"><p>Nos recettes</p></li>
      <li class="socialButton"><p>Le Blog</p></li>

    <mat-form-field [formGroup]="forms" (ngSubmit)="onSubmit(this.forms)" appearance="none">
      <label>
        <input class="searchBar" matInput placeholder="Rechercher...." formControlName="search" >
      </label>
      <button mat-button matSuffix mat-icon-button (click)="onSubmit(this.forms)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    </ul>
  </div>
</div>

<app-sous-menu [type]="typeToDisplay" *ngIf="typeToDisplay != null"></app-sous-menu>

