<div class="header">
<div class="wrapper1">
  <h1 [routerLink]="['/']">Une dose de vert</h1>
  <ul class="client-area">
    <li class="espace"><p>Mon espace</p> </li>
    <li><img class="user-icon" src="../assets/img/usericon.png"> </li>
    <li class="panier"><p>Mon panier (0)</p> </li>
    <li><img class="panier-icon" src="../assets/img/basket-2-512.png"></li>
  </ul>
  </div>
  <div class="wrapper2">
    <p class="message">Longue vie à Une dose de vert ! 10% de réduction pour nos 100 premières commandes avec le code WELCOME</p>
  </div>
</div>
