.header {
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  background-color: #f5ede4;
  border: none;
}

.wrapper1 {
  width: 100%;
  height: 64px;
  background-color: #f5ede4;
  display: inline-block;
}

h1 {
  font-family: Sofia-Regular, serif;
  font-size: 32px;
  margin-left: 6.5%;
  margin-top: 13px;
  line-height: 1.56;
  float:left;
  color: #4d4d4d;
  cursor:pointer;
}

h1:focus {
  text-decoration: none;
  outline: none;
}

.client-area {
  float: right;
  color: #757575;
  list-style: none;
  text-transform: uppercase;
}

.client-area li {
  display: inline-block;
  text-align: left;
  font-size: 12px;
  color: #757575;
  font-family: WorkSans, serif;
  margin: 28px 10px;
}

.user-icon {
  width: 24px;
  height: 24px;
}

.panier-icon {
  width: 24px;
  height: 24px;
  margin-right: 123px;
}

.wrapper2 {
  border: none;
  width: 100%;
  height: 40px;
  background-color: #c7a38f;
}

.message {
  padding-top: 13px;
  align-content: center;
  line-height: 1.17;
  font-family: WorkSans;
  height: 14px;
  font-size: 12px;
  text-align: center;
  color: #f5ede4;
}






