<div class="wrapper">
  <div class="adminSelector">
    <app-admin-selector></app-admin-selector>
  </div>
<div class="categorie">
  <button mat-raised-button (click)="creerCategorie()">Créer une catégorie </button>
  <table mat-table [dataSource]="this.dataSource" matSort class="example-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let categorie">{{categorie.name}}</td>
    </ng-container>
    <ng-container matColumnDef="modifier">
      <th mat-header-cell *matHeaderCellDef>Modifier</th>
      <td mat-cell *matCellDef="let categorie">
      <button mat-fab color="primary" aria-label="Build" [value]="categorie" (click)="modifierCategorie(categorie)">
        <mat-icon>build</mat-icon>
      </button></td>
    </ng-container>
    <ng-container matColumnDef="supprimer">
      <th mat-header-cell *matHeaderCellDef>Supprimer</th>
      <td mat-cell *matCellDef="let categorie">
        <button mat-fab color="warn" aria-label="Build" [value]="categorie" (click)="supprimerCategorie(categorie.id)">
          <mat-icon>delete</mat-icon>
        </button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>
