<div class="wrapper">
  <p>Vous avez oublié ou perdu votre mot de passe ? Vous estimez que l’accès à votre compte n’est pas assez sécurisé ?</p>
  <p>Changez votre mot de passe !</p>
  <p>Pour réinitialiser votre mot de passe, veuillez renseigner l'adresse e-mail que vous avez utilisé pour créer votre compte.</p>
  <p>Si l'adresse email est présente dans notre base de données, vous receverez un e-mail à l'adresse indiquée.</p>
  <p>Pensez a vérifier votre boite de spam !</p>
  <form [formGroup]="formsUser">
    <mat-form-field class="col-md-5">
      <mat-label>Email :</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Adresse email : pat@example.com">
      <mat-error [hidden]="formsUser.get('email').valid || !formsUser.get('email').touched">
        Veuillez renseigner une adresse e-mail valide !
      </mat-error>
    </mat-form-field>
  </form>
  <mat-dialog-actions>
    <div class="row" style="margin: 0 17%">
      <div class="col-md-6">
        <app-bouton (click)="cancel()" label="Annuler"></app-bouton>
      </div>
      <div class="col-md-6">
        <app-bouton *ngIf="this.formsUser.invalid" (click)="onSubmit()" label="Valider"  [disabled]="true"></app-bouton>
        <app-bouton *ngIf="this.formsUser.valid" (click)="onSubmit()" label="Valider"></app-bouton>
      </div>
    </div>
  </mat-dialog-actions>
</div>
