<h2 mat-dialog-title *ngIf="sousCategorie == null">Ajouter une sous-categorie</h2>
<h2 mat-dialog-title *ngIf="sousCategorie">Modifier une sous-categorie</h2>
<mat-dialog-content>
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Nom:</mat-label>
      <input matInput placeholder="Nom" formControlName="name">
      <mat-error [hidden]="forms.get('name').valid || !forms.get('name').touched">
        Le <strong>nom</strong> de la sous-catégorie doit être renseigné.
      </mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button color="warn" [mat-dialog-close]>Annuler</button>
      <button mat-button color="accent" (click)="onSubmit()" [hidden]="forms.invalid" [mat-dialog-close]>Sauvegarder</button>
    </div>
  </form>
</mat-dialog-content>
