table {
  width: 100%;
}

.mat-dialog-title {
  text-align: center;
  margin: 2% auto;
  color: green;
}
.mat-dialog-content {
  height: auto !important;
  width: auto !important;
  overflow: initial !important;
  text-align: center;
  justify-content: center;
}
.mat-dialog-actions {
  justify-content: center;
}
