.mat-dialog-title{
  text-align: center;
}

.mat-dialog-content{
  height: auto !important;
  overflow: initial !important;
}

.mat-form-field {
  margin: 2% 0;
}

h2 {
  font-family: AbhayaLibre, serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.17;
}

.textHR {
  background-color: #c7a38f !important;
  width: 10%;
  height: 0.15em;
  justify-content: center;
}

