<div class="container">
  <form [formGroup]="forms">
    <div class="row">
    <mat-form-field class="example-full-width col-3">
      <mat-label>Date de début:</mat-label>
      <input matInput formControlName="reductionStart"[matDatepicker]="start">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
      <mat-error [hidden]="forms.get('reductionStart').valid || !forms.get('reductionStart').touched">
        La<strong>date</strong> du début de la réduction doit être renseignée.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width col-3">
      <mat-label>Date de fin:</mat-label>
      <input matInput formControlName="reductionEnd"[matDatepicker]="end">
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
      <mat-error [hidden]="forms.get('reductionEnd').valid || !forms.get('reductionEnd').touched">
        La<strong>date</strong> de fin de la réduction doit être renseignée.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width col-3">
      <mat-label>Pourcentage de la remise:</mat-label>
      <input matInput type="number" placeholder="Pourcentage de remise" formControlName="percentageReduction">
      <mat-error [hidden]="forms.get('percentageReduction').valid || !forms.get('percentageReduction').touched">
        Le <strong>pourcentage</strong> de la reduction du product doit être renseigné.
      </mat-error>
    </mat-form-field>
    <div class="col-md-3" style="text-align: center; vertical-align: center">
      <app-bouton *ngIf="this.reduction != null && this.reduction.id" (click)="deleteReduction(this.productId, this.reduction.id)" label="Supprimer la reduction"></app-bouton>
      <app-bouton *ngIf="!this.reduction" label="Sauvegarder" (click)="onSubmit()"></app-bouton>
    </div>
    </div>
  </form>
</div>
