<div class="container">
  <form [formGroup]="forms">
    <h2 mat-dialog-title *ngIf="reduction == null">Ajouter une reduction</h2>
    <h2 mat-dialog-title *ngIf="reduction != null">Modifier une reduction</h2>

    <mat-form-field color="accent" appearance="fill">
      <mat-label>Date de début:</mat-label>
      <input matInput formControlName="reductionStart"[matDatepicker]="start">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
      <mat-error [hidden]="forms.get('reductionStart').valid || !forms.get('reductionStart').touched">
        La<strong>date</strong> du début de la réduction doit être renseignée.
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="fill">
      <mat-label>Date de fin:</mat-label>
      <input matInput formControlName="reductionEnd"[matDatepicker]="end">
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
      <mat-error [hidden]="forms.get('reductionEnd').valid || !forms.get('reductionEnd').touched">
        La<strong>date</strong> de fin de la réduction doit être renseignée.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width col-4">
      <mat-label>Pourcentage de la remise:</mat-label>
      <input matInput type="number" placeholder="Pourcentage de remise" formControlName="pourcentageRemise">
      <mat-error [hidden]="forms.get('pourcentageRemise').valid || !forms.get('pourcentageRemise').touched">
        Le <strong>pourcentage</strong> de la reduction du produit doit être renseigné.
      </mat-error>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button color="warn" *ngIf="this.reduction != null && this.reduction.id" (click)="SupprimerReduction(this.produitId, this.reduction.id)">Supprimer la reduction</button>
      <button mat-button color="accent" (click)="onSubmit()">Sauvegarder</button>
    </mat-dialog-actions>
  </form>
</div>
