<mat-toolbar>
  <button mat-button routerLink="login" *ngIf="this.tokenEmail == null">Se connecter</button>
  <button mat-button *ngIf="this.tokenEmail != null" (click)="logout()">Me déconnecter</button>
  <button mat-button [matMenuTriggerFor]="Admin" *ngIf="this.authorities== 'ROLE_ADMIN'">Admin</button>

  <mat-menu #Admin="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="Commande">Commande</button>
    <button mat-menu-item [matMenuTriggerFor]="Livraison">Livraison</button>
    <button mat-menu-item [matMenuTriggerFor]="Produit">Produit</button>
    <button mat-menu-item [matMenuTriggerFor]="Recette">Recette</button>
    <button mat-menu-item [matMenuTriggerFor]="Utilisateur">Utilisateur</button>
  </mat-menu>

  <mat-menu #Commande="matMenu">
  </mat-menu>

  <mat-menu #Livraison="matMenu">
  </mat-menu>

  <mat-menu #Produit="matMenu">
    <button mat-menu-item routerLink="admin/products" > Listes des produits </button>
    <button mat-menu-item routerLink="admin/products/types"> Listes des types </button>
    <button mat-menu-item routerLink="admin/products/categories"> Listes des categories </button>
    <button mat-menu-item routerLink="admin/products/sous-categories"> Listes des sous-categories </button>
    <button mat-menu-item routerLink="admin/products/tags"> Listes des tags </button>
    <button mat-menu-item routerLink="admin/products/labels"> Listes des labels </button>
  </mat-menu>

  <mat-menu #Recette="matMenu">
  </mat-menu>

  <mat-menu #Utilisateur="matMenu">
  </mat-menu>

  <mat-menu #compte="matMenu">
    <button mat-menu-item routerLink="user/myprofil">Mon profil</button>
    <button mat-menu-item>Mes commandes</button>
    <button mat-menu-item>Mon panier</button>
  </mat-menu>
</mat-toolbar>
