.customized-button {
  border: solid 2px #c7a38f;
  text-transform: uppercase;
  color: #c7a38f;
  font-family: WorkSans, serif;
  font-size: 14px;
  background-color: white;
}

.customized-button:hover {
  background-color: #c7a38f;
  color: white;
  outline: none;
}

.customized-button:disabled {
  background-color: #f2f2f2;
  color: #757575;
  border: solid 2px #f2f2f2;
}

.clicked {
  outline: none;
  background-color: #c7a38f;
  color: white;
}
button {
  /*width: 100%;*/
}
