<div class="container" *ngIf="user">
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
    <mat-card class="profil">
      <mat-card-header>
        <mat-card-subtitle><h3><i>Mon identitée:</i></h3></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field class="example-full-width col-4">
          <mat-label>Nom:</mat-label>
          <input matInput placeholder="Nom" formControlName="nom" value="{{user.nom}}">
          <mat-error [hidden]="forms.get('nom').valid || !forms.get('nom').touched">
            Votre <strong>nom</strong> doit être renseigné.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width col-4">
          <mat-label>Prénom:</mat-label>
          <input matInput placeholder="Prénom" formControlName="prenom" value="{{user.prenom}}">
          <mat-error [hidden]="forms.get('prenom').valid || !forms.get('prenom').touched">
            Votre <strong>prénom</strong> doit être renseigné.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width col-4">
          <mat-label>Date de naissance:</mat-label>
          <input matInput type="date" placeholder="Anniversaire" formControlName="anniversaire" value="{{user.anniversaire}}">
          <mat-error [hidden]="forms.get('anniversaire').valid || !forms.get('anniversaire').touched">
            Votre <strong>date d'anniversaire</strong> doit être renseignée.
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-header>
        <mat-card-subtitle><h3><i>Mes moyens de contacts:</i></h3></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field class="example-full-width col-4">
          <mat-label>Téléphone:</mat-label>
          <input matInput type="tel" placeholder="Téléphone" formControlName="telephone" value="{{user.telephone}}">
          <mat-error [hidden]="forms.get('telephone').valid || !forms.get('telephone').touched">
            Un<strong> numéro de téléphone</strong> doit être renseigné.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width col-8">
          <mat-label>Email:</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="email" value="{{user.email}}">
          <mat-error [hidden]="forms.get('email').valid || !forms.get('email').touched">
            Un <strong>email</strong> doit être renseigné.
          </mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button mat-button color="accent" (click)="onSubmit()" [hidden]="forms.invalid" >Modifier mes informations</button>
          <button mat-button color="warn">Supprimer mon compte</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>

  <mat-card class="adresse-list">
    <mat-card-header>
      <mat-card-subtitle><h3><i>Mes adresses:</i></h3></mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button color="accent" (click)="creerAdresse()" [hidden]="forms.invalid" >Ajouter une adresse</button>
    </mat-card-actions>

    <div class="row">
    <mat-list-item *ngFor="let adresse of user.adresses">
      <mat-card class="adresse">
        <mat-card-header>
          <mat-card-title><h4>{{adresse.nom}}</h4></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p> {{adresse.numero}} {{adresse.voie}}</p>
          <p>{{adresse.codePostal}} {{adresse.ville}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="accent" (click)="modifierAdresse(adresse)">Modifier</button>
          <button mat-button color="warn" (click)="supprimerAdresse(adresse.id)">Supprimer</button>
        </mat-card-actions>
      </mat-card>
    </mat-list-item>
    </div>
  </mat-card>
</div>

