.mat-dialog-title{
  text-align: center;
}

.Produit {
  margin: 4%;
}
.mat-dialog-content {
  height: auto !important;
  width: auto !important;
  overflow: initial !important;
}
.mat-dialog-actions {
  align-content: center !important;
  justify-content: center;
  display: flex;
  width: 100% !important;
}
.photo-selecteur {
  align-content: center;
  text-align: center;
  margin-left: 40px;
}

.checkbox{
  display: flex;
  margin: 1% auto;
}

h2 {
  color: green;
}
