<div class="container">
  <div class="Produit">
<mat-dialog-content>
  <h2 mat-dialog-title *ngIf="produit == null">Ajouter un produit</h2>
  <h2 mat-dialog-title *ngIf="produit != null">Modifier un produit</h2>

  <form [formGroup]="forms" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width col-6">
      <mat-label>Nom:</mat-label>
      <input matInput type="text" placeholder="Nom" formControlName="name">
      <mat-error [hidden]="forms.get('name').valid || !forms.get('name').touched">
        Le <strong>nom</strong> du type de produit doit être renseigné.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width col-6">
      <mat-label>Origine:</mat-label>
      <input matInput type="text" placeholder="Origine" formControlName="origine">
      <mat-error [hidden]="forms.get('origine').valid || !forms.get('origine').touched">
        <strong>L'origine </strong>du produit doit être renseigné.
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="col-4">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option (onSelectionChange)="updateType(typ)" *ngFor="let typ of types" [value]="typ">{{typ.name}}</mat-option>
      </mat-select>
      <mat-error [hidden]="forms.get('type').valid || !forms.get('type').touched">
        Le<strong> type </strong>du produit doit être renseigné.
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="col-4">
      <mat-label>Categorie</mat-label>
      <mat-select formControlName="categorie">
        <mat-option *ngFor="let cat of categories" (onSelectionChange)="updateCategorie(cat)" [value]="cat">{{cat.name}}</mat-option>
      </mat-select>
      <mat-error [hidden]="forms.get('categorie').valid || !forms.get('categorie').touched">
        La<strong> categorie </strong>du produit doit être renseignée.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-4">
      <mat-label>Sous-Categorie</mat-label>
      <mat-select formControlName="sousCategorie">
        <mat-option *ngFor="let scat of sousCategories" (onSelectionChange)="updateSousCategorie(scat)" [value]="scat">{{scat.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="checkbox">
    <mat-list class="col-md-6">
      <mat-label>Choisissez les tags associés à ce produit :</mat-label>
      <mat-list-item *ngFor="let tag of tagsList; let i=index">
        <mat-checkbox class="tags"
                      [value]="tag"
                      [checked]="this.produit && isTagContain(this.produit.tags, tag)"
                      (change)="onCheckTagChange($event)">{{tag.name}}
        </mat-checkbox>
      </mat-list-item>
    </mat-list>


      <mat-list class="col-md-6">
        <mat-label>Choisissez les labels associés à ce produit :</mat-label>
        <mat-list-item *ngFor="let label of labelList; let i=index">
          <mat-checkbox class="labels"
                        [value]="label"
                        [checked]="this.produit && isLabelContain(this.produit.labels, label)"
                        (change)="onCheckLabelChange($event)">{{label.name}}
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </div>

    <mat-form-field class="col-md-12">
      <mat-label>Description:</mat-label>
      <textarea matInput type="text" placeholder="Description" formControlName="descriptionProduit"></textarea>
      <mat-error [hidden]="forms.get('descriptionProduit').valid || !forms.get('descriptionProduit').touched">
        La<strong> description </strong>du produit doit être renseignée.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <mat-label>Conseil d'utilisation et préparation:</mat-label>
      <textarea matInput type="text" placeholder="Conseil d'utilisation" formControlName="conseilUtilisation"></textarea>
      <mat-error [hidden]="forms.get('conseilUtilisation').valid || !forms.get('conseilUtilisation').touched">
        Les<strong> conseils d'utilisations et de préparations </strong>du produit doivent être renseignés.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <mat-label>Composition :</mat-label>
      <textarea matInput type="text" placeholder="Composition" formControlName="composition"></textarea>
      <mat-error [hidden]="forms.get('composition').valid || !forms.get('composition').touched">
        La<strong> composition </strong>du produit doit être renseignée.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <mat-label>Pourquoi ce produit ?</mat-label>
      <textarea matInput type="text" placeholder="pourquoi" formControlName="pourquoi"></textarea>
      <mat-error [hidden]="forms.get('pourquoi').valid || !forms.get('pourquoi').touched">
        La rubrique <strong> Pourquoi ce produit ? </strong> doit être renseignée.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <mat-label>Producteur :</mat-label>
      <textarea matInput type="text" placeholder="Producteur" formControlName="producteur"></textarea>
      <mat-error [hidden]="forms.get('producteur').valid || !forms.get('producteur').touched">
        La rubrique <strong> producteur </strong> doit être renseignée.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <mat-label>Commentaire producteur :</mat-label>
      <textarea matInput type="text" placeholder="Producteur" formControlName="commentaireProducteur"></textarea>
      <mat-error [hidden]="forms.get('producteur').valid || !forms.get('producteur').touched">
        La rubrique <strong> commentaire producteur </strong> doit être renseignée.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <mat-label>Valeurs et allergènes :</mat-label>
      <textarea matInput type="text" placeholder="Valeurs et allergènes" formControlName="allergenes"></textarea>
      <mat-error [hidden]="forms.get('allergenes').valid || !forms.get('allergenes').touched">
        La rubrique <strong> valeurs et allergènes </strong> doit être renseignée.
      </mat-error>
    </mat-form-field>


    <mat-form-field class="col-md-12">
      <mat-label>Infos nutritionnelles :</mat-label>
      <textarea matInput type="text" placeholder="Infos nutritionnelles" formControlName="infoNutrition"></textarea>
      <mat-error [hidden]="forms.get('infoNutrition').valid || !forms.get('infoNutrition').touched">
        La rubrique <strong> Infos nutritionnelles  </strong> doit être renseignée.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <mat-label>Commentaire supplémentaire:</mat-label>
      <textarea matInput type="text" placeholder="commentaireProduit" formControlName="commentaireProduit"></textarea>
    </mat-form-field>

    <div class="photo-selecteur">
      <label>Photo: 300 x 300 px</label>
      <input (change)="uploadPetitePhoto($event)" class="ng-hide"  multiple type="file"/>
      <img src="{{forms.controls.urlPetitePhoto.value}}" *ngIf="forms.controls.urlPetitePhoto && forms.controls.urlPetitePhoto.value">
    </div>

    <div class="photo-selecteur">
      <label>Photo: 732 x 732 px</label>
      <input (change)="uploadGrandePhoto($event)" class="ng-hide" multiple type="file"/>
      <img src="{{forms.controls.urlGrandePhoto.value}}" *ngIf="forms.controls.urlGrandePhoto && forms.controls.urlGrandePhoto.value">
    </div>
  </form>
</mat-dialog-content>
  <br>
  <mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]>Annuler</button>
    <button mat-button color="accent" (click)="onSubmit()">Sauvegarder</button>
  </mat-dialog-actions>
  </div>
  <div class="variant" *ngIf="this.produit">
    <app-admin-view-variant *ngIf="this.produit != null" [produitId]="this.produit.id"></app-admin-view-variant>
  </div>

  <div class="reduction" *ngIf="this.produit">
    <app-reduction-edit *ngIf="this.produit != null" [produitId]="this.produit.id"></app-reduction-edit>
  </div>
</div>



