.customized-chips {
  margin: 1%;
  padding: 0.5% 1%;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: #000000;
  font-family: WorkSans,sans-serif;
  font-size: 14px;
  justify-content: center;
  cursor: pointer;
}

.customized-chips:hover {
  background-color: #e2e2e2;
  color: black;
  outline: none;
}

.clicked {
  outline: none;
  background-color: #c7a38f;
  color: white;
}
