<div class="wrapper">
  <div class="adminSelector">
    <app-admin-selector></app-admin-selector>
  </div>
  <div class="typeList">
    <p class="separation">Gestion des types de produit</p>
    <button mat-raised-button class="createTypeButton" (click)="addType()">Créer un type de produit</button>
    <table mat-table [dataSource]="this.dataSource" matSort class="example-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let type">{{type.name}}</td>
      </ng-container>
      <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef>Modifier</th>
        <td mat-cell *matCellDef="let type">
          <button mat-fab color="primary" class="editButton" aria-label="Build" [value]="" (click)="updateType(type)">
            <mat-icon>build</mat-icon>
          </button></td>
      </ng-container>
      <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef>Supprimer</th>
        <td mat-cell *matCellDef="let type">
          <button mat-fab color="warn" class="deleteButton" aria-label="Build" [value]="type" (click)="deleteType(type.id)">
            <mat-icon>delete</mat-icon>
          </button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

