<br>
<div class="container">
  <div class="well-block">
    <div class="well-title">

      <div class="card" style="border-radius: 10px" *ngIf="produit != null">
        <div class="card-header text-center">
          <h3>{{produit.name}}</h3>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4 container-fluid">
            <<img src="../../../assets/img/testimg.webp" class="card-img" alt="...">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <div class="card-body">
              <span><strong>Origine: </strong> {{produit.origine}}</span>
              <hr>
              <span><strong>Prix:</strong> {{produit.prix}} €</span>
              <hr>
              <span><strong>Etat du stock:</strong> {{produit.stock}} </span>
              <hr>
              <span class="card-text"><strong>Description du produit:</strong> {{produit.description}}</span>
            </div>
          </div>
        </div>
        <br>

      </div>
      <br>
    </div>
  </div>
</div>

