<div class="wrapper" *ngIf="product != null">
  <div class="topWrapper">
    <div class="imageProduit" >
      <img class="img" src="{{product.urlPicture1}}">
    </div>

    <div class="sideText">
      <div class="title" *ngIf="product.title != ''">
        <h1>{{product.title}}</h1>
      </div>

      <hr>

      <div class="brand" *ngIf="product.brand != ''">
        <p>{{product.brand}}<p>
      </div>

      <div *ngIf="product.tags != null">
        <div class="tagArea" *ngFor="let label of product.labels">
          <p class="chips">{{label.name}}</p>
        </div>
      </div>

      <div class="variantArea" *ngIf="product.variants != null">
        <div class="prix" *ngIf="variantSelected && variantSelected.reductionPrice == null">
          <p> {{this.displayPrice(variantSelected.price)}}  les {{variantSelected.name}}</p>
        </div>
        <div class="prix" *ngIf="variantSelected && variantSelected.reductionPrice != null">
          <p style="text-decoration: line-through;">{{this.displayPrice(variantSelected.price)}}</p>
          <p>{{this.displayPrice(variantSelected.reductionPrice)}}  les {{variantSelected.name}}</p>
        </div>
        <div class="prixNull" *ngIf="!variantSelected">
          <p>Sélectionnez une quantité afin d'afficher le prix correspondant</p>
        </div>

        <div class="prixKG" *ngIf="variantSelected">
          <p>{{this.displayPrice(variantSelected.priceKg)}}/Kilo</p>
        </div>

        <div class="variant" *ngFor="let variant of variants">
          <app-petit-bouton (click)="selectVariant(variant)" [selected]="this.variantSelected === variant" label="{{variant.name}}"></app-petit-bouton>
        </div>
      </div>

      <div class="panierSelecteur">
        <div class="row">
          <app-petit-bouton class="buttonRemove col-md-1" label="-" [selected]="true" (click)="changeQuantity(-1)" fontSize="40px"></app-petit-bouton>
          <p class="quantitée col-md-2">{{quantity}}</p>
          <app-petit-bouton class="buttonAdd col-md-1" label="+" [selected]="true" (click)="changeQuantity(1)" fontSize="40px"></app-petit-bouton>
          <app-bouton class="Panier col-md-2" label="Ajouter au panier" [padding]="'10% 8%'" [onClick2]="addToShoppingCart.bind(this)"></app-bouton>
        </div>
      </div>

      <div class="contenantFraisOrigine">
        <div class="contenant">
          <p class="top">Contenant</p>
          <p class="bot">Livré dans un sachet kraft compostable. </p>
        </div>
        <div class="FraisLivraison">
          <p class="top">Frais de livraison</p>
          <p class="bot">5€</p>
        </div>
      </div>

      <div class="origine" *ngIf="product.origin != '' || product.origin != null">
        <p class="top">Origine</p>
        <p class="bot">{{product.origin}}</p>
      </div>

      <div class="descriptionProduit" *ngIf="product.productDescription != '' || product.productDescription != null">
        <h2>Description</h2>
        <p>{{product.productDescription}}</p>
      </div>
    </div>
  </div>

  <div class="bottomWrapper">
    <hr>
    <div class="conseil" *ngIf="product.utilisationAdvice != '' || product.utilisationAdvice != null">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Conseil d'utilisation et de préparation
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{product.utilisationAdvice}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <hr *ngIf="product.utilisationAdvice != '' || product.utilisationAdvice != null">
    <div class="composition" *ngIf="product.composition != '' || product.composition != null">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Composition
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{product.composition}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <hr *ngIf="product.composition != '' || product.composition != null">
    <div class="pourquoi?" *ngIf="product.whyThisProduct != '' || product.whyThisProduct != null">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pourquoi ce produit ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{product.whyThisProduct}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <hr *ngIf="product.whyThisProduct != '' || product.whyThisProduct != null">
    <div class="producteur" *ngIf="product.producerComment != '' || product.producerComment != null">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Le producteur
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{product.producerComment}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <hr *ngIf="product.producerComment != '' || product.producerComment != null">
    <div class="valeurs" *ngIf="product.allergen != '' || product.allergen != null">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Valeurs et allergènes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{product.allergen}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <hr *ngIf="product.allergen != '' || product.allergen != null">
    <div class="infoNutri" *ngIf="product.nutritionalInformation != null">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Informations nutritionnelles
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{product.nutritionalInformation}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <hr *ngIf="product.nutritionalInformation != null">
  </div>
</div>
