<div class="wrapper" *ngIf="produit != null">
  <div class="topWrapper">
    <div class="imageProduit" >
  <img src="{{produit.urlGrandePhoto}}">
    </div>

    <div class="sideText">
      <div class="title">
        <h1>{{produit.name}}</h1>
      </div>

      <hr>

      <div class="producteur">
        <p>{{produit.producteur}}<p>
      </div>

      <div class="tag">
        <p>Bio</p>
      </div>

      <div class="variantArea" *ngFor="let variant of variants">
        <div class="prix">
          <p> {{variant.prix}} € les {{variant.name}}</p>
        </div>

        <div class="prixKG">
          <p>{{variant.prixKg}}€/Kilo</p>
        </div>

        <div class="variant">
          <app-petit-bouton label="{{variant.name}}"></app-petit-bouton>
        </div>
      </div>

      <div class="panierSelecteur">
        <app-petit-bouton class="buttonRemove" label="-" fontSize="40px"></app-petit-bouton>
        <app-petit-bouton class="quantitée" label="1" fontSize="40px"></app-petit-bouton>
        <app-petit-bouton class="buttonAdd" label="+" fontSize="40px"></app-petit-bouton>
        <app-bouton class="Panier" label="Ajouter au panier"></app-bouton>
      </div>

      <div class="contenantFraisOrigine">
        <div class="contenant">
          <p class="top">Contenant</p>
          <p class="bot">Livré dans un sachet kraft compostable. </p>
        </div>
        <div class="FraisLivraison">
          <p class="top">Frais de livraison</p>
          <p class="bot">Livraison offerte à partir de 44€  </p>
        </div>
        <div class="origine">
          <p class="top">Origine</p>
          <p class="bot">{{produit.origine}}</p>
        </div>
      </div>

      <div class="descriptionProduit">
        <p class="top">Description</p>
        <p class="bot">{{produit.descriptionProduit}}</p>
      </div>

      <div class="commentaireProduit">
        <p>{{produit.commentaireProduit}}</p>
      </div>
    </div>
  </div>

    <div class="bottomWrapper">
      <hr>
      <div class="conseil">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               Conseil d'utilisation et de préparation
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{produit.conseilUtilisation}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <hr>
      <div class="composition">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               Composition
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{produit.composition}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <hr>
      <div class="pourquoi?">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               Pourquoi ce produit ?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{produit.pourquoi}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <hr>
      <div class="producteur">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Le producteur
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{produit.producteur}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <hr>
      <div class="valeurs">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               Valeurs et allergènes
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{produit.allergenes}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <hr>
      <div class="infoNutri">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Informations nutritionnelles
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{produit.infoNutrition}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <hr>
    </div>
</div>
