.wrapper {
  width: 100%;

}
p {
  color: black;
}

.topWrapper{
  display: flex;
  margin: 2% 0 2% 0;
}

.imageProduit {
  float:left;
  margin: 0 5% 0 6.5%;
}

.sideText {
  float: right;
  margin: 0 6.5% 0 0;
}

.title h1{
  font-family: AbhayaLibre, serif;
  font-size: 30px;
  font-weight: bold;
  margin: 2.3% 0;
}

.topWrapper hr {
  width: 15%;
  height: 3px;
  justify-content: start;
  background-color: #c7a38f !important;
  margin-left: 0;
}

.producteur p {
  font-family: AbhayaLibre, serif;
  font-size: 23px;
  margin: 2% 0;
}

.tagArea {
  width: 100%;
  display: inline-flex;
}
.tag {
  width: 100%;
  height: 100%;
}

.prix {
  margin: 3% 0 2% 0;
}

.prix p {
  font-family: WorkSans, serif;
  font-size: 22px;
}

.prixKG p{
  font-family: WorkSans, serif;
  font-size: 18px;
  color: #b2b2b2;
  margin: 0 10% 2% 0;
}

.variant{
  display: inline-flex;
  flex-direction: row;
  margin: 5% 5% 5% 0;
}

.panierSelecteur{
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  vertical-align: center;
  text-align: center;
}

.panierSelecteur .buttonRemove {
  margin: 5% 0% 5% 0;
  font-size:40px;
}

.buttonRemove:focus {
  outline: none;
}

.panierSelecteur .quantitée {
  margin: 7% 7.9% 7% 7.9%;
  font-family: WorkSans, serif;
  font-size: 22px;

}

.panierSelecteur .buttonAdd {
  margin: 5% 10% 5% 0%;
}

.panierSelecteur .Panier {
  margin: 5.5% 0 5% 0;
  width: 23.6%;
  white-space: nowrap;
}

.contenantFraisOrigine {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.contenant{
  margin-right: 6%;
  white-space: nowrap;
}

.FraisLivraison{
  margin-right: 6%;
  white-space: nowrap;
}

.origine {
  white-space: break-spaces;
}

.top {
  font-family: AbhayaLibre, serif;
  font-size: 18px
}

.bot {
  font-family: AbhayaLibre, serif;
  font-size: 16px;
  color: #707070;
}

.descriptionProduit {
  margin: 2% 0;
}

.descriptionProduit h2 {
  font-family: AbhayaLibre, serif;
  font-size: 18px;
}

.descriptionProduit p {
  font-family: AbhayaLibre, serif;
  font-size: 16px;
}

.bottomWrapper {
  width: 87%;
  margin: 0 auto;
}

.bottomWrapper hr {
  width: 100%;
  height: 2px;
  background-color: #c7a38f !important;
  align-self: center;
}

.mat-accordion {
  display: flex;
  justify-content: center;
}

.mat-accordion mat-expansion-panel{
  width: 100%;
  justify-content: center;
  box-shadow: none;
  margin: 0;
}

.mat-accordion mat-expansion-panel p {
  font-family: AbhayaLibre, serif;
  font-size: 16px;
}

.mat-accordion mat-expansion-panel mat-expansion-panel-header mat-panel-title {
  font-family: AbhayaLibre, serif;
  font-size: 18px;
  color: #000000;
}

.mat-expansion-indicator {
  color: #c7a38f;
}
