<div class="wrapper" *ngIf="product != null">
  <div class="topWrapper">
    <div class="imageProduit" >
      <img src="{{product.urlPicture1}}">
    </div>

    <div class="sideText">
      <div class="title" *ngIf="product.title != ''">
        <h1>{{product.title}}</h1>
      </div>

      <hr>

      <div class="brand" *ngIf="product.brand != ''">
        <p>{{product.brand}}<p>
      </div>

      <div class="tagArea" *ngIf="product.tags != null">
        <div class="tag" *ngFor="let tag of product.tags">
          <app-tag-chips label="{{tag.name}}"></app-tag-chips>
        </div>
      </div>

      <div class="variantArea" *ngIf="product.variants != null">
        <div class="prix" *ngIf="variantSelected">
          <p> {{this.displayPrice(variantSelected.price)}}  les {{variantSelected.name}}</p>
        </div>

        <div class="prixKG" *ngIf="variantSelected">
          <p>{{this.displayPrice(variantSelected.priceKg)}}/Kilo</p>
        </div>

        <div class="variant" *ngFor="let variant of variants">
          <app-petit-bouton (click)="selectVariant(variant)" [selected]="this.variantSelected === variant" label="{{variant.name}}"></app-petit-bouton>
        </div>
      </div>

      <div class="panierSelecteur">
        <app-petit-bouton class="buttonRemove" label="-" [selected]="true" (click)="changeQuantity(-1)" fontSize="40px"></app-petit-bouton>
        <p class="quantitée">{{quantity}}</p>
        <app-petit-bouton class="buttonAdd" label="+" [selected]="true" (click)="changeQuantity(1)" fontSize="40px"></app-petit-bouton>
        <app-bouton class="Panier" label="Ajouter au panier" [onClick2]="addToShoppingCart.bind(this)"></app-bouton>
      </div>

      <div class="contenantFraisOrigine">
        <div class="contenant">
          <p class="top">Contenant</p>
          <p class="bot">Livré dans un sachet kraft compostable. </p>
        </div>
        <div class="FraisLivraison">
          <p class="top">Frais de livraison</p>
          <p class="bot">5€</p>
        </div>
      </div>

      <div class="origine" *ngIf="product.origin != ''">
        <p class="top">Origine</p>
        <p class="bot">{{product.origin}}</p>
      </div>

      <div class="descriptionProduit" *ngIf="product.productDescription != ''">
        <h2>Description</h2>
        <p>{{product.productDescription}}</p>
      </div>
    </div>
  </div>

  <div class="bottomWrapper">
    <hr>
    <div class="conseil" *ngIf="product.utilisationAdvice != ''">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Conseil d'utilisation et de préparation
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{product.utilisationAdvice}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <hr *ngIf="product.utilisationAdvice != ''">
    <div class="composition" *ngIf="product.composition != ''">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Composition
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{product.composition}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <hr *ngIf="product.composition != ''">
    <div class="pourquoi?" *ngIf="product.whyThisProduct != ''">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pourquoi ce produit ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{product.whyThisProduct}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <hr *ngIf="product.whyThisProduct != ''">
    <div class="producteur" *ngIf="product.producer != ''">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Le producteur
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{product.producerComment}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <hr *ngIf="product.producer != ''">
    <div class="valeurs" *ngIf="product.allergen != ''">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Valeurs et allergènes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{product.allergen}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <hr *ngIf="product.allergen != ''">
    <div class="infoNutri" *ngIf="product.nutritionalInformation != null">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Informations nutritionnelles
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{product.nutritionalInformation}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <hr *ngIf="product.nutritionalInformation != null">
  </div>
</div>
