<h2 mat-dialog-title *ngIf="categorie == null">Ajouter une categorie</h2>
<h2 mat-dialog-title *ngIf="categorie">Modifier une categorie</h2>

<mat-dialog-content>
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Nom:</mat-label>
      <input matInput placeholder="Nom" formControlName="name">
      <mat-error [hidden]="forms.get('name').valid || !forms.get('name').touched">
        Le <strong>nom</strong> de la catégorie de produit doit être renseigné.
      </mat-error>
    </mat-form-field>
    <mat-list>
      <mat-list-item class="row col-md-12" *ngFor="let sousCategorie of sousCategorieList; let i=index">
        <mat-checkbox class="example-margin"
                      [value]="sousCategorie"
                      [checked]="this.categorie && isContain(this.categorie.sousCategories, sousCategorie)"
                      (change)="onCheckboxChange($event)">{{sousCategorie.name}}
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
    <mat-dialog-actions>
      <button mat-button color="warn" [mat-dialog-close]>Annuler</button>
      <button mat-button color="accent" (click)="onSubmit()" [disabled]="forms.invalid" [mat-dialog-close]>Sauvegarder</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
