<h2 mat-dialog-title *ngIf="type == null">Ajouter un type de produit</h2>
<h2 mat-dialog-title *ngIf="type">Modifier un type de produit</h2>
<mat-dialog-content>
  <form [formGroup]="forms">
    <mat-form-field class="example-full-width">
      <mat-label>Nom:</mat-label>
      <input matInput placeholder="Nom" formControlName="name">
      <mat-error [hidden]="forms.get('name').valid || !forms.get('name').touched">
        Le <strong>nom</strong> du type de produit doit être renseigné.
      </mat-error>
    </mat-form-field>

    <mat-list>
      <mat-list-item class="row col-md-12" *ngFor="let categorie of categorieList; let i=index">
        <mat-checkbox class="example-margin"
                      [value]="categorie"
                      [checked]="this.type && isContain(this.type.categories, categorie)"
                      (change)="onCheckboxChange($event)">{{categorie.name}}
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
    <mat-dialog-actions>
      <button mat-button color="warn" [mat-dialog-close]>Annuler</button>
      <button mat-button color="accent" (click)="onSubmit()" [hidden]="forms.invalid" [mat-dialog-close]>Sauvegarder</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>



