<!--<h2 mat-dialog-title *ngIf="adresse == null">Ajouter une adresse a mon carnet</h2>-->
<!--<h2 mat-dialog-title *ngIf="adresse">Modifier une adresse</h2>-->

<!--<mat-dialog-content>-->
<!--  <form [formGroup]="forms" (ngSubmit)="onSubmit()">-->
<!--    <div class="row">-->
<!--    <mat-form-field class="example-full-width col-10">-->
<!--      <mat-label>Nom:</mat-label>-->
<!--      <input matInput type="text" placeholder="Nom" formControlName="nom">-->
<!--      <mat-error [hidden]="forms.get('nom').valid || !forms.get('nom').touched">-->
<!--        Le <strong>nom</strong> de l'adresse doit être renseigné.-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--    <mat-form-field class="example-full-width col-4">-->
<!--      <mat-label>Numéro:</mat-label>-->
<!--      <input matInput type="number" placeholder="Numero" formControlName="numero">-->
<!--      <mat-error [hidden]="forms.get('numero').valid || !forms.get('numero').touched">-->
<!--        Le <strong>numéro</strong> de l'adresse doit être renseigné.-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="example-full-width col-6">-->
<!--      <mat-label>Voie:</mat-label>-->
<!--      <input matInput type="text" placeholder="rue de Paris, avenue des Champs-Elysées" formControlName="voie">-->
<!--      <mat-error [hidden]="forms.get('voie').valid || !forms.get('voie').touched">-->
<!--        La <strong>voie</strong> de l'adresse doit être renseignée (ex: rue,avenue..).-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--    <mat-form-field class="example-full-width col-4">-->
<!--      <mat-label>Code postal:</mat-label>-->
<!--      <input matInput type="text" placeholder="Code postal" formControlName="codePostal">-->
<!--      <mat-error [hidden]="forms.get('codePostal').valid || !forms.get('codePostal').touched">-->
<!--        Le <strong>code postal</strong> de l'adresse doit être renseigné.-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="example-full-width col-6">-->
<!--      <mat-label>Ville:</mat-label>-->
<!--      <input matInput type="text" placeholder="Ville" formControlName="ville">-->
<!--      <mat-error [hidden]="forms.get('ville').valid || !forms.get('ville').touched">-->
<!--        La <strong>ville</strong> doit être renseignée.-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--    <mat-form-field class="example-full-width col-2">-->
<!--      <mat-label>Batiment:</mat-label>-->
<!--      <input matInput type="text" placeholder="A,B,C formControlName="batiment">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="example-full-width col-4">-->
<!--      <mat-label>Digicode:</mat-label>-->
<!--      <input matInput type="text" placeholder="Digicode" formControlName="digicode">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="example-full-width col-4">-->
<!--      <mat-label>Interphone:</mat-label>-->
<!--      <input matInput type="text" placeholder="Interphone" formControlName="interphone">-->
<!--    </mat-form-field>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--    <mat-form-field class="example-full-width col-5">-->
<!--      <mat-label>Etage:</mat-label>-->
<!--      <input matInput type="number" placeholder="Etage" formControlName="etage">-->
<!--      <mat-error [hidden]="forms.get('etage').valid || !forms.get('etage').touched">-->
<!--        <strong>L'étage</strong> doit être renseigné.-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="example-full-width col-5">-->
<!--      <mat-label>Porte:</mat-label>-->
<!--      <input matInput type="text" placeholder="Droite, Gauche, Milieu..." formControlName="porte">-->
<!--      <mat-error [hidden]="forms.get('porte').valid || !forms.get('porte').touched">-->
<!--        La position de votre <strong>porte</strong> sur le palier doit être renseignée.-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->
<!--    </div>-->
<!--  </form>-->
<!--  <mat-action-list mat-dialog-actions>-->
<!--    <button mat-button color="accent" (click)="onSubmit()">Sauvegarder</button>-->
<!--    <button mat-button color="warn" [mat-dialog-close]>Annuler</button>-->
<!--  </mat-action-list>-->
<!--</mat-dialog-content>-->
