<div class="wrapper">
  <div class="ifPresent" *ngIf="this.user != null">
    <h1>Définir un nouveau mot de passe :</h1>
    <p>Veuillez remplir les champs pour définir un nouveau mot de passe. Il doit comporter au moins 6 caractères</p>

    <form [formGroup]="formsUser">
      <mat-form-field class="col-md-12">
        <input matInput placeholder="Mot de passe" formControlName="password" name="password" (input)="onPasswordInput()">
        <mat-error [hidden]="formsUser.get('password').valid || !formsUser.get('password').touched || password.hasError('minLength')">
          Le mot de passe est incorrect. Il doit être au moins de 6 charactères.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <input matInput  placeholder="Confirmer le mot de passe" formControlName="password2" name="password2" (input)="onPasswordInput()">
        <mat-error *ngIf="password2.invalid && !password2.hasError('passwordMismatch')">
          Les mots de passes ne correspondent pas !
        </mat-error>
      </mat-form-field>
      <mat-dialog-actions>
        <div class="row">
          <div class="col-md-6">
            <app-bouton  (click)="cancel()" label="Annuler"></app-bouton>
          </div>
          <div class="col-md-6">
            <app-bouton *ngIf="formsUser.invalid" [disabled]="true" label="Valider"></app-bouton>
            <app-bouton  *ngIf="formsUser.valid" (click)="onSubmitPassword()" label="Valider"></app-bouton>
          </div>
        </div>
      </mat-dialog-actions>
    </form>
  </div>
  <div class="ifNull" *ngIf="!this.user && this.user == null">
    <p>Une erreur s'est produite. Le token a expiré</p>
  </div>
</div>
