<div class="wrapper">
  <div class="searchWrapper">
    <hr class="textHR">
<!--    <span class="chips" *ngFor="let tag of tags" (click)="filterByTagValue(tag.name)">{{tag.name}}</span>-->
    <div class="wrapperChips">
    <app-tag-chips *ngFor="let tag of tags" (click)="filterByTagValue(tag.name)" [selected]="" label="{{tag.name}}"></app-tag-chips>
    <span class="chips" (click)="filterByReduction()">En promo !</span>
    </div>
    <hr class="textHR">
  </div>
  <div class="cardWrapper" *ngIf="products.length > 0">
    <mat-card class="productCard" *ngFor="let product of products">
      <mat-card-content>
        <app-carte-produit [product]="product"></app-carte-produit>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cardWrapper" *ngIf="products.length == 0">
    <p class="messageNullProduct"> Aucun produit ne correspond à votre recherche </p>
  </div>

</div>
