.wrapper {
  width: 100%;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 33%;
  margin: 4% 7%;
  justify-content: center;
}

.productCard {
  width: 20%;
  height: auto;
  margin: 1% 1%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.searchWrapper {
  margin: 2% 6.5% 2% 7%;
}

.searchWrapper p {
  font-family: WorkSans, serif;
  font-size: 16px;
}

.textHR {
  background-color: #f2f2f2 !important;
  width: 100%;
  margin: 1% 0;
  justify-content: center;
}

.wrapperChips {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-flow: column;
  flex-basis: 30%;
}
/*.chips {*/
/*  margin: 0.5%;*/
/*  padding: 0.5% 1%;*/
/*  border-radius: 20px;*/
/*  background-color: #f2f2f2;*/
/*  color: #000000;*/
/*  font-family: WorkSans,sans-serif;*/
/*  font-size: 14px;*/
/*  justify-content: center;*/
/*  cursor: pointer;*/
/*}*/

.messageNullProduct {
  font-family: WorkSans,sans-serif;
  font-size: 18px;
  justify-content: center;
  margin: 4% 0;
}

