<div class="wrapper">
  <ul>
    <li class="{{actives.commandes}}" (click)="routeOrders()">Gestion des commandes</li>
    <li class="{{actives.produits}}" (click)="routeProducts()">Gestion des produits</li>
    <li class="{{actives.types}}" (click)="routeTypes()">Gestion des types</li>
    <li class="{{actives.categories}}" (click)="routeCategories()">Gestion des catégories</li>
    <li class="{{actives.subcategories}}" (click)="routeSCCategories()">Gestion des sous-catégories</li>
    <li class="{{actives.labels}}" (click)="routeLabels()">Gestion des labels</li>
    <li class="{{actives.tags}}" (click)="routeTags()">Gestion des tags</li>
  </ul>
</div>
