@import '~@angular/material/theming';

@include mat-core();

$unedosedevert-primary: mat-palette($mat-light-green);
$unedosedevert-accent:  mat-palette($mat-green);
$unedosedevert-warn:    mat-palette($mat-red);

$unedosedevert-theme: mat-light-theme($unedosedevert-primary, $unedosedevert-accent, $unedosedevert-warn);

@include angular-material-theme($unedosedevert-theme);

