<div class="container">
    <div class="card-body">
      <br>
      <div class="row">
        <button type="button" class="btn btn-info" (click)="creerProduit() ">Créer un produit</button>
      </div>
      <br>
      <div class="card-deck">
          <div class="card-body">
            <table class="table table-responsive">
              <table class="table table-hover table-condensed table-striped">
                <thead class="Produit">
                <tr>
                  <th>Nom</th>
                  <th>Type</th>
                  <th>Categorie</th>
                  <th>Prix</th>
                  <th>TVA</th>
                  <th>Disponibilité</th>
                  <th>Actions</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let produit of produits">
                  <td>{{produit.name}}</td>
                  <td>{{produit.type.name}}</td>
                  <td>{{produit.categorie.name}}</td>
                  <td>{{produit.prix}}</td>
                  <td>{{produit.tva}}</td>
                  <td>{{produit.stock}}</td>
                  <td>
                    <button mat-fab color="primary" aria-label="Edit" *ngIf="produit" datatype="produit" (click)="modifierProduit(produit.id)">
                      <mat-icon>bookmark</mat-icon>
                    </button>
                  </td>
                  <td>
                    <button mat-fab color="warn" aria-label="Delete" *ngIf="produit" datatype="produit" (click)="supprimerProduit(produit.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </table>
          </div>
        </div>
        <br>
      </div>
    </div>

