.bs-stepper-header {
  width: 87%;
  margin: 2% 7% 2% 6.5% !important;
}

.step-trigger {
  display: flex;
}

.bs-stepper-circle {
  background: #d2d2d2;
  width: 1em;
  height: 1em;
}

.bs-stepper-circle :active {
  background: #c7a38f;
}

.bs-stepper-label {
  color: #d2d2d2;
  font-size: 14px;
  font-family: WorkSans, serif;
  font-weight: normal;
  text-transform: uppercase;
}

.bs-stepper-label :active {
  background: #c7a38f;
}

.step-trigger {

}
