.productCardIMG {
  background-size: cover;
}

.productTitle {
  font-family: AbhayaLibre, serif;
  font-size: 20px !important;
  text-align: center !important;
}

.productCard p {
  font-family: AbhayaLibre, serif;
  font-size: 20px !important;
  text-align: center !important;
}

#unite {
  color: #757575;
  font-family: WorkSans, serif;
  font-size: 18px;
}

#productPrice {
  font-family: WorkSans, serif;
  font-size: 18px;
  text-align: end !important;
}

.discovery {
  justify-content: center;
  align-items: center;
  display: flex;
}





