

.productCardIMG {
  background-size: cover;
}

.productTitle {
  font-family: AbhayaLibre, serif;
  font-size: 20px !important;
  text-align: center !important;
}

.productCard p {
  font-family: AbhayaLibre, serif;
  text-align: center !important;
}

#productPrice {
  font-family: WorkSans, serif;
  font-size: 14px;
  text-align: center !important;
}

#productPriceWithReduction {
  font-family: WorkSans, serif;
  font-size: 14px;
  text-align: center !important;
}

#Price {
  font-size: 16px;
  font-weight: bold;
}

#PriceWithReduction {
  font-size: 16px;
  font-weight: bold;
}

.discovery {
  justify-content: center;
  align-items: center;
  display: flex;
}





