<div class="wrapper">
<mat-card-content>
  <img mat-card-image class="productCardIMG col-md" src="{{product.urlPicture1}}" alt="Photo de {{product.title}}">
  <p class="productTitle">{{product.title}}</p>
  <p id="productPrice" *ngIf="product.reduction == null">à partir de <span id="Price">{{smallestProductPrice(this.product)}}</span></p>
    <p id="productPriceWithReduction" *ngIf="product.reduction != null">à partir de <span id="PriceWithReduction" style="text-decoration: line-through">{{smallestProductPrice(this.product)}}</span> {{smallestProductPriceWithReduction(this.product)}}</p>
  <div class="discovery">
    <app-bouton label="Découvrir le produit" padding="2% 10%" (click)="showProduit(this.product)"></app-bouton>
  </div>
</mat-card-content>
</div>
