<mat-card-content>
  <img mat-card-image class="productCardIMG" src="{{product.urlPicture1}}" alt="Photo de {{product.title}}">
  <p class="productTitle">{{product.title}}</p>
  <div class="row">
    <p id="unite" class="col-md-6">à partir de</p>
    <p id="productPrice" class="col-md-6">{{smallestProductPrice(this.product)}}</p>
  </div>
  <div class="discovery">
    <app-bouton label="Découvrir le produit" padding="2% 10%" (click)="showProduit(this.product)"></app-bouton>
  </div>
</mat-card-content>
